<!DOCTYPE html>
<html>
  <head>
    <title>Yabber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media:'all'%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type= "text/javascript">
      window.logo= '<%= image_url('msft_logo.png')%>';
      window.amazon= '<%= image_url('Amazon_logo.png')%>';
      window.circles= '<%= image_url('circles.svg')%>';
      window.squares= '<%= image_url('squares.svg')%>';
      window.more_squares= '<%= image_url('more_squares.svg')%>';
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>